@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
}


button:not(:disabled),
[role="button"]:not(:disabled) {
  cursor: pointer;
}

body{
    background-color: 'bg-gray-50 relative font-normal font-outfit z-1';
    min-width: 349px;
}

